  /* Navbar */
  .img3{
    height: 120px;
  }

  .navbar{
    padding-left: 80px;
    padding-right: 80px;
  }

  h1 {
    text-align: center;
  }

  .nav-link:hover {
    color: rgb(255, 98, 165);
  }

  /* .nav-link button {
    font-size: 28px;
    font-weight: 800;
    background-color: rgb(255, 98, 165);
    color: white;
    margin-left: 600px;
    border-radius: 20px;
    width: 150px;
    height: 58px;
  } */


  /* Register Page */

  .Register {
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    display: flex;
    align-items: center;
}
.register-full {
    background-color: rgb(52, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-text label {
    font-size: 20px;
}
.register-text input {
    border-radius: 5px;
    width: 400px;
    height: 45px;
    padding: 8px;
    border: 1px solid #ccc;
}

.btn15 {
  background-color: rgb(245, 131, 150); 
  color: white;
  padding: 10px 35px; 
  font-size: 22px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  background-color: rgb(221, 23, 89); 
  transition: background-color 0.3s;
}



  /* Beauticians */
  /* .btn12 {
    background-color: rgb(245, 131, 150); 
    color: white;
    padding: 5px 10px; 
    font-size: 20px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(221, 23, 89); 
    transition: background-color 0.2s;
  } */

  /* ViewProfile.css */

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.container {
  margin-bottom: 20px;
}

.container h3 {
  font-weight: 800;
}

.portfolio {
  text-align: center;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .col-md-4 {
  margin-bottom: 20px;
}

.portfolio img {
  width: 100%;
  height: auto;
}

.contact {
  text-align: center;
}

.contact p {
  margin-bottom: 10px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  margin-bottom: 5px;
}
/* Profile.css */
.beautician-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.beautician-card:hover {
  transform: scale(1.05);
}

.beautician-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.beautician-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Rest of your CSS remains the same */

.btn10 {
  color: white;
  padding: 5px 15px; 
  font-size: 23px;
  border: none;
  border-radius: 10px; 
  /* margin-left: 830px; */
  cursor: pointer;
  background-color: rgb(221, 23, 89); 
  transition: background-color 0.2s;
}