  /* Navbar */
  .img3{
    height: 120px;
  }
  .navbar{
    padding-left: 80px;
    padding-right: 80px;
  }
  h1 {
    text-align: center;
  }
  .nav-link:hover {
    color:  rgb(224, 118, 135);
  }
  /* Contact */
  /* .container {
    margin-right: 10px;
    margin-top: 30px;
  } */
  /* .form1 {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: rgb(246, 170, 183);
    box-shadow: 0 2px 5px blue;
  }
  .form-label5 {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 18px;
    color: #333;
  }
  .form-control {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .form-control:focus {
    border-color: black;
    outline: none;
    box-shadow: 0 0 5px rgb(245, 131, 150); 
  } */
  /* .btn15 {
    background-color: rgb(245, 131, 150); 
    color: white;
    padding: 10px 35px; 
    font-size: 22px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(221, 23, 89); 
    transition: background-color 0.3s;
  } */
  /* Beauticians */
  .btn12{
    background-color: rgb(245, 131, 150); 
    color: white;
    padding: 5px 10px; 
    font-size: 20px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(221, 23, 89); 
    transition: background-color 0.2s;
  }
  