.contact-full {
  background-color: rgb(52, 51, 51);
  /* background: linear-gradient(135deg, #FFC0CB, #ffe4e1); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin-bottom: 30px; */
}
.Contact {
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
}
.contact-text label {
  font-size: 25px;
 
}
.contact-text input {
  border-radius: 3px;
  width: 450px;
  height: 45px;
  padding: 8px;
  border: 1px solid black;
 
}
.contact-text h1 {
  font-weight: 800;
  text-align: center;
}
.btn15 {
  background-color: rgb(245, 131, 150); 
  color: white;
  padding: 10px 35px; 
  font-size: 23px;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  background-color: rgb(221, 23, 89); 
  transition: background-color 0.3s;
}

   


  /* @media (max-width: 600px) {
    .form-container {
      padding: 10px; 
  
    }
    .form-input {
      font-size: 14px;
  
    }
    .form-button {
      padding: 8px 16px; 
    
  } */
  