/* .nav-link button {
    font-size: 28px;
    font-weight: 800;
    background-color: rgb(255, 98, 165);
    color: white;
    margin-left: 600px;
    border-radius: 20px;
    width: 150px;
    height: 58px;
} */